<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>LinkedOut</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-toggler bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse float-right" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <th:block sec:authorize="hasRole('ADMIN')">
                    <a class="nav-item nav-link text-white" href="/companies/add">Add Company</a>
                    <a class="nav-item nav-link text-white" href="/employees/add">Add Employee</a>
                </th:block>

                <a class="nav-item nav-link text-white" href="/companies/all">All Companies</a>
                <a class="nav-item nav-link text-white" href="/employees/all">All Employees</a>

                <th:block sec:authorize="not isAuthenticated()">
                    <a class="nav-item nav-link text-white" href="/users/login">Login</a>
                    <a class="nav-item nav-link text-white" href="/users/register">Register</a>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <a class="nav-item nav-link text-white" href="/logout">Logout</a>
                </th:block>

            </div>
        </div>
    </nav>
</header>
<footer th:fragment="footer" id="footer">
    <div class="container-fluid bg-transparent rounded">
        <div class="text-white p-2 text-center">&copy; Spring Team 2020. All rights reserved.</div>
    </div>
</footer>
</body>
</html>