<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/fragments::head"></th:block>
<body>

<th:block th:replace="fragments/fragments::header"></th:block>
<main>
    <div class="container">
        <h2 class="text-center text-dark bg-light rounded-circle mt-5">All companies</h2>
        <hr style="width: 50%"/>
        <div class='row mb-4 d-flex justify-content-around'>
          
                <div class="col-md-4 d-flex flex-column bg-text mb-3 rounded-circle">
                    <h2>Company: {name}</h2>
                    <h4>Town: {town}</h4>
                    <h4>Description: {description - first 5 char} ...</h4>
                    <h4><a class="btn-block" href="/">Detail info</a></h4>
                </div>
          
        </div>
    </div>
</main>

<th:block th:replace="fragments/fragments::footer"></th:block>
</body>
</html>