<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="fragments/fragments::head"></th:block>
<footer>

<th:block th:replace="fragments/fragments::header"></th:block>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-8 align-self-center">
                <div class="justify-content-center">
                    <h1>Welcome to LinkedOut Application</h1>
                </div>
                <div th:text="|Last update of Database: ${#dates.format(#dates.createNow(), 'dd-MM-yyyy')}|">Last update of Database: {Current date and time}</div>

            </main>
        </div>

        <div id="footer">
            <div class="container-fluid bg-transparent rounded">
                <div class="text-white p-2 text-center">&copy; Spring Team 2020. All rights reserved.</div>
            </div>
        </div>
    </div>
</main>
</main>
</footer>
</body>
</html>